### while loop

- With the while loop we can execute a set of statements as long as a condition is true.

In [10]:
index =1
while index <=10:
     print(index)
     index += 1

1
2
3
4
5
6
7
8
9
10

In [13]:
index =1
while index <=9:
     print(index)
     index += 1

1
2
3
4
5
6
7
8
9

In [12]:
# for loop

- iterating through a range 
- for loop 
- syntex: keywoard called for

In [27]:
r = list(range(5,15))

In [28]:
for i in r :
    print(i)

5
6
7
8
9
10
11
12
13
14

- here not only i u can also give num or any thing

In [24]:
companies= ['amazon','flipkart','snapdeal']

In [26]:
websites_list = []
for websites in companies:
 #print("www."+websites+".com")
    web ="www."+websites+".com"
    websites_list.append(web)

In [27]:
websites_list

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com']

In [28]:
r= range(1,10)

In [30]:
sqr=[]
for i in r:
    sqr.append(i*i)

In [32]:
sqr

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
sqr=[ i*i for i in range(1,10)]

In [34]:
sqr

[1, 4, 9, 16, 25, 36, 49, 64, 81]


#  dict

In [42]:
vk= {'name':'Virat','age':32,'team':'RCB'}

In [44]:
vk.keys()

dict_keys(['name', 'age', 'team'])

In [45]:
vk.values()

dict_values(['Virat', 32, 'RCB'])

In [46]:
for i in vk:
    print(i)

name
age
team

In [48]:
for j in vk:
    print(j)

name
age
team

In [52]:
for i ,j in vk.items():
    print(i, j)

name Virat
age 32
team RCB

-in defalt i is taken as key where j cant take sepertly , if u want to take j as values on in big code

In [54]:
for i in range(1,11):
    print(i)
    if i ==5:
        break

1
2
3
4
5

- " pass " is a word it doest not any syntex error

- user have to give some input
- reverse thr input 
- input = 123 , output=321

nums= input( " enter a value : ")
nums=nums[ : : -1]
print("reversed number is ",nums )

# get sum of elements iin a list use for loop
nums=[1,2,3]
result=6

In [9]:
nums:[1,2,3]

In [14]:
res= 0
for i in nums:
    res = res+i
    print(res)

NameError: name 'nums' is not defined

In [11]:
num= 1234
rev= 0
while num !=0:
    dig = num % 10
    rev = rev*10 +dig 
    num //=10
    print("rev num: ",rev)

rev num:  4
rev num:  43
rev num:  432
rev num:  4321